<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Simple Job</title>
    </head>
    <body>
      

    <div class="contents">
      <div class="first-view">
        <img src="/assets/hero.jpg" alt="トップ画面" class="top-image">
      </div>
      <div class="upper-content">
        <!-- [新着の仕事情報]を表示する -->
      </div>

      <div class="middle-content">

      <h3>仕事情報</h3>
      </div>
      <div class="card__wrapper">
      
        <!-- [仕事情報]を表示する -->
        <%= render partial: 'job', collection: @job %>
      </div>
      
    </div>

    <footer>
    </footer>
    </body>
</html>    